body {
  overflow-x: hidden;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: antiquewhite;
  margin-bottom: 5em;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 10em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0em 2em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-shadow: 2px 3px 4px;

}

.apropos-container {
  background-color: antiquewhite;
  color: black;
  padding: 50px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 7em;
}

.apropos-container:hover {
  box-shadow: 0px 19px 45px black;
}

.apropos-container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.apropos-container ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.apropos-container ul li {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.services-container {
  background-color: antiquewhite;
  color: black;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 7em;
}

.services-container:hover {
  box-shadow: 0px 19px 45px black;
}

.services-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.services-list li {

  margin-bottom: 10px;
}

.services-container li {
  background-color: antiquewhite;
  padding: 20px;
  margin-bottom: 3em;
  border-radius: 20px;
  list-style: none;
}

.projects-container {
  text-align: center;
  margin-bottom: 10em;
}

.projects-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container li {
  background-color: antiquewhite;
  width: 50%;
  padding: 20px;
  margin-bottom: 3em;
  border-radius: 20px;
  list-style: none;
}

.projects-container li:hover {
  box-shadow: 0px 19px 45px black;
}

.github-container {
  max-width: 5em;
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 20px;
}

.github-container:hover {
  box-shadow: 0px 19px 45px black;
}

.github-container i {
  font-size: 3em;
}

.contact-container {

  padding: 20px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
}

.contact-container h3 {
  color: black;
}

form {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 20px;
  align-items: center;
}

form:hover {
  box-shadow: 0px 19px 45px black;
}

label {
  margin-bottom: 8px;
  color: black;
}

input,
textarea {
  width: 18em;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 6px;
}

form textarea:last-of-type {
  height: 7em;
}

button {
  background: black;
  display: flex;
  align-self: center;
  width: 6em;
  justify-content: center;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.error-message {
  color: black;
}

@media (max-width: 768px) {
  body {
      text-align: center;
  }

  .projects-container ul{
    padding: 0;
  }
}